header {background-color: #00355f; 
        text-align: center;
        padding-top: 10px; padding-bottom: 10px;
        color: white;
        font-family: Garamond, Georgia, "Times New Roman";
        font-size: 25px;
        height: 25%;
        box-shadow: 5px 5px 5px #828282;
        line-height: .50;
    }

main {background-color: white;}

footer {background-color: #00355f;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;}

nav {background-color: white;
    text-align: center; 
    font-weight: bold;
    font-size: 1.5em;
    margin-left:0px; 
    padding-left: 0px;}

nav a {text-decoration: none;
    color: #00355f;}

nav a:hover { color: #f2af0d;}

footer a{color: white;}

ul{padding-left: 0;
margin-left: 0;
margin-top: 10px;
  }

li {display: inline;
text-decoration: none;
padding-right: 100px;
font-family: Garamond, Georgia, "Times New Roman";}

#gutter {
    padding-left: 100px;
}

#adjust {text-align: justify;
        width: 700px;
        font-size: 1.25em;
        word-spacing: 0.20em;
        font-family: Garamond, Georgia, "Times New Roman";
        line-height: 1.35em;}

table {margin-left: auto;
    margin-right: auto;}

#fix {padding-right: 0;}

.changeFont {font-family: 'Courier New', Courier, monospace;
            color: lightgray;}

.pronouns{text-align: center;
    font-size: 20px;
    color: lightgray;}

figcaption {text-align: center;
            font-size: 1.15em;}

.link:visited{color: blue;}

.pagecontainer {position: relative;
    min-height: 100vh;}

.contentwrap {padding-bottom: 2.5rem;}

.secondadjust {
    text-align: justify;
    font-size: 1.25em;
    word-spacing: 0.20em;
    font-family: Garamond, Georgia, "Times New Roman";
    line-height: 1.50em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;}
 
.centerImage {
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    }

h2 {padding: 0; 
margin: 0;}

#cvWrap {width: 90%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1600px;
}

#honeiahCaption {display: none;}

h3 {  display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;}

h3 > strong > em {font-weight: normal;}

.relative {position: relative;}

#mobileHomePic {display: none;}

#video {text-align: center;
        margin-left: auto;
        margin-right: auto;}

@media only screen and (max-width: 768px){
    nav {margin: 0;}
    nav li {display: block;
            padding-right: 0;}
    #mobile { display: inline; }
    #desktop { display: none; }
    #gutter {display: none;}
    #mobileHomePic, #centerImage {display: block;
                    text-align: center;} 
    #adjust, .secondadjust {font-size: 0.75em;
            width: 400px;}
    #cvWrap {width: 50%}
    footer {position: relative;}
    #honeiahCaption {display: block;}
    h1 {line-height:  90px ;}
    header {margin-bottom: 15px;}
}